body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebee;
    font-family: 'Arial', sans-serif;
    
}

.container {
    text-align: center;
}

h1 {
    color: #d32f2f;
    font-size: 3rem;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

#yesButton {
    background-color: #4caf50;
    color: white;
}

#noButton {
    background-color: #f44336;
    color: white;
    transition: all 0.5s ease; /* Smooth transition for movement */
}

button:hover {
    opacity: 0.8;
}

/* Hearts animation */
@keyframes floatUp {
    0% {
        transform: translateY(20vh) scale(0);
    }
    100% {
        transform: translateY(-100vh) scale(1);
    }
}

.heart {
    position: absolute;
    bottom: 0;
    /* color: #ff4081; */
    font-size: 2rem;
    animation: floatUp 5s linear infinite;
}